body {
	padding-top: 10px;

	background: rgb(13, 17, 23);
	color: rgb(201, 209, 217);

	font-family: "Helvetica Neue", Verdana, sans-serif;
	font-size: 14px;

	text-transform: uppercase;
	letter-spacing: -.5px;
	text-align: center;
	user-select: none;
}

body.no-scroll {
	overflow: hidden;
}

table {
	margin: 0 auto 10px;

	border: 1px solid #2a3035;
	border-collapse: collapse;
}

td {
	padding: 4px 8px;

	background: #0b0e13;
	border-right: 1px solid #2a3035;
	border-bottom: 1px solid #2a3035;
	color: #0b0e13;
	font-size: 10px;
}

td:hover {
	cursor: pointer;
}

span {
	color: #27c5d8;
	margin: 0 15px 0 0;
}

strong {
	color: #ddd;
	margin-right: 10px;
}

h1 {
	margin: -6px 40px 3px 0;
	text-align: left;
	display: inline-block;
	float: left;
	color: #27c5d8;
	border-bottom: 2px solid #5a6167;
}

hr {
	margin: 15px auto;
	height: 1px;

	border: 0;
	background: #888;
}

p {
	color: rgb(201, 209, 217);
}

select {
	margin: 0 10px 0 0;
}

label:last-child select {
	margin: 0;
}

.type-1 {
	background: #27c5d8;
	border-color: #27c5d8;
}

.type-2 {
	background: #e54b27;
	border-color: #e54b27;
}

.type-3 {
	background: #9820ca;
	border-color: #9820ca;
}

.type-4 {
	background: #d8d227;
	border-color: #d8d227;
}

.header {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.button {
	position: relative;
	display: inline-block;
	width: 80px;
	margin-right: 10px;
	margin-top: -2px;
	height: 17px;

	background: #eee;
	border-radius: 3px;
	color: #222;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.button:hover {
	cursor: pointer;
	background: #aaa;
}

.button:active {
	top: 1px;
	left: 1px;
}

.header_flex {
	display: flex;
	margin-bottom: 3px;
	text-align: left;
	border-bottom: 2px solid #5a6167;
	align-items: center;
	padding-bottom: 6px;
}

.header_flex:last-child {
	padding-bottom: 3px;
}

.header_controls {
	display: flex;
	margin-bottom: 40px;
	flex-direction: column;
}

.links {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.links a {
	margin-right: 10px;
}

#root {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
}

@media screen and (max-width: 900px) {
	body {
		font-size: 11px;
	}

	td {
		padding: 0 1px;
		font-size: 7px;
	}

	label {
		margin-left: 10px;
	}

	select {
		padding: 0;
		margin: 0;
	}

	strong {
		margin-right: 5px;
	}

	.button {
		width: 50px;
		margin-right: 5px;
	}

	.header {
		flex-flow: column;
	}

	.header_controls {
		margin-bottom: 8px;
	}

	#root {
		padding-top: 0;
	}
}
